SEPOLIA_RPC_URL=""
MUMBAI_RPC_URL=""
MNEMONIC="test test test test test test test test test test test junk"
PRIVATE_KEY="0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80"
ETHERSCAN_API_KEY=""

LOCAL_URL="http://127.0.0.1:8545"
FOUNDRY_PROFILE="local"
